@import "~materialize-css/dist/css/materialize.min.css";

input.blue-color:focus {
    border-bottom: 1px solid #3a8fd4 !important;
    box-shadow: 0 1px 0 0 #3a8fd4 !important;
}

input.blue-color:focus + label{
    color: #3a8fd4 !important;
}

div.projectContainer{
    display: flex;
    flex-wrap: wrap;
}

a.projectCard {
    width: 100%;
    flex-basis: 21%;
    border: 1px solid rgba(136,136,136,0.3);
    box-shadow: 0 0 10px rgba(136,136,136,0.5);
    margin: 2rem 2%;
    color: #222;
}

a.projectCard .projectCard__header{
    border-bottom: 1px dashed #000;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.projectCard.card-green .projectCard__header{
    background-color: #7cb342;
    border-bottom: 1px dashed #7cb342;
}

a.projectCard .projectCard__description {
    padding: 0 15px;
}

a.projectCard h5 {
    margin: 0;
    line-height: 1;
}

/* projectDetail style */
.projectDetail table tr td p{
    margin: 0;
}

.projectDetail table tr td span i {
    background-color: #bdbdbd;
    border-radius: 50%;
    padding: 5px;
    color: #bbdefb;
    cursor: pointer;
    user-select: none;
    transition: .2s all linear;
}

.projectDetail table tr td span i:hover,
.projectDetail table tr td span i.complite
{
    background-color: #4caf50;
    color: #fff;
}

.projectDetail table tr td span i {
    background-color: #bdbdbd;
    border-radius: 50%;
    padding: 5px;
    color: #bbdefb;
    cursor: pointer;
    user-select: none;
    transition: .2s all;
}

.projectDetail table tr td.control {
    display: flex;
    position: absolute;
}

.projectDetail table tr td.control i {
    cursor: pointer;
    user-select: none;
    margin-left: 5px;
    display: none;
}

.projectDetail table tr:hover  td.control i {
    display: block;
}

.projectDetail table tr:hover {
    background-color: rgba(178, 223, 219, .3);
}